<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">

				<% if(data.length > 0 )
				{ %>

				
				<h2>Items In Your Cart</h2>
				<a href="/cart/clearcart" class="btn btn-info">Clear Cart</a>
				<table class="table table-hover table-striped table-bordered">
					<tr>
						<Th>S.No.</Th>
						<th>Name</th>
						<th>Price</th>
						<th>Total</th>
						<th>Remove</th>
					</tr>
					<% 
					var total = 0;
					data.forEach(function(x, i){ 
					var p = parseInt(x.price);
					total += p;
					%>
						<tr>
							<Td><%= i+1 %></Td>
							<td><%= x.name %></td>
							<td><%= x.price %></td>
							<td><%= x.total %></td>
							<td><a href="/cart/removeitem/<%= x._id %>" class="btn btn-danger">Remove</a></td>
						</tr>
				<% }) %>
				</table>
				<%= total; %>
				<% }else{ %> 
				<h2>No Item Found in Your Cart</h2>


				<% } %>
				
			</div>
		</div>
	</section>	
